@import "tailwindcss";

/* Base theme tokens (light mode default) */
:root {
    /* light theme */
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-neutral-50);
    --color-on-surface: var(--color-neutral-600);
    --color-on-surface-strong: var(--color-neutral-900);
    --color-primary: var(--color-black);
    --color-on-primary: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-neutral-300);
    --color-outline-strong: var(--color-neutral-800);


    /* shared colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-500);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-white);

    /* border radius */
    --radius-radius: var(--radius-sm);
}

.dark {
  --color-surface: var(--color-neutral-950);
  --color-surface-alt: var(--color-neutral-900);
  --color-on-surface: var(--color-neutral-300);
  --color-on-surface-strong: var(--color-white);

  --color-primary: var(--color-white);
  --color-on-primary: var(--color-black);

  --color-secondary: var(--color-neutral-300);
  --color-on-secondary: var(--color-black);

  --color-outline: var(--color-neutral-700);
  --color-outline-strong: var(--color-neutral-300);
}